<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Concepto.Packages.KBDoctorValidator.KBDoctor2" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Concepto.Packages.KBDoctorValidator.KBDoctor2>
            <setting name="ValidateINOUTParm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxNestLevel" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ComplexityLevel" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxCodeBlcok" serializeAs="String">
                <value>509</value>
            </setting>
        </Concepto.Packages.KBDoctorValidator.KBDoctor2>
    </userSettings>
</configuration>