# Auto detect text files and keep Windows line endings in the working tree.
* text=auto eol=crlf

# Custom for Visual Studio
*.cs     diff=csharp

# Binary files
*.dll binary
*.exe binary
*.ico binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.snk binary

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
